body {
  font-family: "Lato", sans-serif;
  background-color: rgb(240, 220, 220);
}

.game {
  margin-top: 24px;
}

.game__field {
  margin: auto;
  width: 900px;
  height: 600px;
  border-radius: 22px;
}

.level--1 {
  background: url("img/level/l1.jpg") center/cover;
}

.level--2 {
  background: url("img/level/l2.jpg") center/cover;
}

.level--3 {
  background: url("img/level/l3.jpg") center/cover;
}

.level--4 {
  background: url("img/level/l4.jpg") center/cover;
}

.level--5 {
  background: url("img/level/l5.jpg") center/cover;
}

.game__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
  width: 800px;
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  transform: translateY(-100%);
  /* display: none; */
}

.game__logo {
  width: 300px;
}

.game__button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 42px;
  cursor: pointer;
  transition: all 300ms ease-in;
  font-family: "Lato", sans-serif;
}

.game__header {
  margin: auto;
  width: 880px;
  /* display: flex; */
  justify-content: space-between;
  padding: 2px 10px 0 10px;
  background: rgb(237, 248, 212);
  display: none;
  border-radius: 22px 22px 0 0;
}

.game__live {
  font-size: 28px;
  user-select: none;
}

.game__level {
  padding-top: 4px;
  font-size: 22px;
  color: black;
  user-select: none;
}

.game__timer {
  width: 76px;
  height: 28px;
  margin-top: 4px;
  text-align: center;
  font-size: 22px;
  background-color: rgb(231, 230, 230);
  /* border: 1px solid black; */
  border-radius: 6px;
  user-select: none;
}

.game__button:hover {
  transform: scale(1.1);
}

.pop-up {
  display: block;
  text-align: center;
  width: 480px;
  height: 160px;
  margin: auto;
  padding: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  transform: translateY(-160%);
  user-select: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  margin: auto;
  font-size: 28px;
  background-color: blanchedalmond;
  border: none;
  outline: none;
  border-radius: 16px;
  transition: all 250ms ease-in;
}

.pop-up__refresh:hover {
  transform: scale(1.1);
}

.pop-up__message {
  display: block;
  font-size: 36px;
  padding: 24px;
}

.pop-up--hide {
  display: none;
}
